<p>Vous avez été contacté à partir du formulaire de contact.</p>

<p>Voici les informations : </p>
<p>nom : {{firstname}}</p>
<p>prénom : {{lastname}}</p>
<p>email : {{email}}</p>
<p>téléphone : {{phone}}</p>
<p>sujet : {{subject}}</p>
<p>message : {{message}}</p>