<p>Vous avez envoyé un message à Multisports Academie,</p>

<br>

<p>Voici un récapitulatif de votre demande : </p>
<p>nom : {{firstname}}</p>
<p>prénom : {{lastname}}</p>
<p>email : {{email}}</p>
<p>téléphone : {{phone}}</p>
<p>sujet : {{subject}}</p>
<p>message : {{message}}</p>

<br>

<p>
Nous vous répondrons dans les plus brefs délais.
</p> 

<br>

<p>Merci pour votre confiance,</p>

<p>Nous vous souhaitons d'agréables événements sportifs,</p>
<p>Toute l'équipe Multisports Académie vous remercie.</p>

<img src="cid:logo">