<p>Bonjour {{firstname}},</p> 

<br>

<p>
    Nous vous confirmons la réception des informations complémentaires nécessaires à votre inscription.
    Votre inscription est validée et ne peut plus être annulée.
</p>

<p>Nous vous donnons, à vous et votre équipe "{{teamName}}", rendez-vous :</p>
<ul>
    <li>Le : {{date}} à {{hour}}h{{minutes}}</li>
    <li>A l'adresse : {{address}}</li>
</ul>

<p>Nous avons hâte de partager ce moment sportif en votre compagnie.</p>

<br>

<p>Nous vous souhaitons d'agréables événements sportifs,</p>
<p>Toute l'équipe Multisports Académie vous remercie.</p>

<img src="cid:logo">